{% extends 'base.html' %}
{% load static %}

{% block title %}
Registration Successful - Konkiyazham Kudumbayogam
{% endblock %}

{% block extra_css %}
<style>

body{
  background: linear-gradient(to right, #6da0d3, #7a6b92);
}

main{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.success-card{
  background-color:#c2b3d9;
  border-radius:15px;
  padding:40px 50px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
  backdrop-filter:blur(8px);
  max-width:450px;
  width:100%;
}

.success-icon{
  font-size:60px;
  margin-bottom:20px;
  color:#00ffb3;
}

.success-card h1{
  font-size:2rem;
  font-weight:700;
  margin-bottom:15px;
  color:rgba(9, 13, 67, 0.97);
}

.success-card p{
  font-size:1rem;
  margin-bottom:25px;
  color:rgba(2, 2, 7, 0.97);
}

.btn-home{
  background-color:white;
  color:#351b57;
  font-weight:600;
  padding:10px 30px;
  border-radius:30px;
  text-decoration:none;
  transition:all 0.3s ease;
  display:inline-block;
}

.btn-home:hover{
  background-color:#401258;
  color:white;
}

</style>
{% endblock %}

{% block content %}

<div class="success-card">

  <div class="success-icon">✅</div>

  <h1>Registration Successful!</h1>

  <p>
    Thank you for registering.<br>
    Your information has been saved successfully.
  </p>

  <a href="{% url 'home' %}" class="btn-home">
    Go to Home
  </a>

</div>

{% endblock %}