{% extends 'base.html' %}
{% load static %}

{% block title %}
Success - Konkiyazham Kudumbayogam
{% endblock %}
{% block extra_css %}

<style>

  body{
    background-color:#fff2e9;
  }
</style>
{% endblock %}

{% block content %}

<div style="
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:60vh;
  text-align:center;
  padding:20px;
">

  <div>
    <h1 style="color:green; font-weight:700;">
      ✔ Contact Successful
    </h1>

    <p style="font-size:18px; margin-top:10px;">
      Your action has been completed successfully.
    </p>

    <a href="{% url 'home' %}" class="cta-button" style="margin-top:20px; display:inline-block;">
      Go to Home
    </a>
  </div>

</div>

{% endblock %}